:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import 'tailwindcss';
.ticketShadow {
  box-shadow: -28px 2px 50px 7px rgba(0, 0, 0, 0.08);
}
.inputBoxShadow {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
  width: 1px;
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

::-webkit-scrollbar-track {
  background: #13151a;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffffa0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #252422;
}

::-webkit-scrollbar-corner {
  display: none;
}
